<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<form th:fragment="register-form">
    <h3 class="text-center">Welcome</h3>
    <p class="text-center">Create your account</p>
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" aria-describedby="username">
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" aria-describedby="email">
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" aria-describedby="password">
    </div>
    <div class="mb-3">
        <label for="confirm-password" class="form-label">Confirm Password</label>
        <input type="password" class="form-control" id="confirm-password" aria-describedby="confirmPassword">
    </div>
    <button type="submit" class="btn btn-primary w-100">Create Account</button>
</form>
</html>