<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar"  aria-labelledby="offcanvasNavbar" th:fragment="offcanvas">
    <div class="offcanvas-header">
        <button class="btn-close-offcanvas" data-bs-dismiss="offcanvas" aria-label="Close">
            <span class="material-symbols-outlined">menu</span>
        </button>
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Polyominoes</h5>
    </div>
    <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-center flex-grow-1">
            <li class="nav-item pb-3">
                <a class="nav-link fs-4 align-middle" href="/">
                    Play
                    <span class="material-symbols-outlined md-2 float-end">
                        play_arrow
                    </span>
                </a>
            </li>
            <li class="nav-item pb-3">
                <a class="nav-link fs-4 " href="/leaderboard">
                    Leaderboard
                    <span class="material-symbols-outlined md-2 float-end">
                        leaderboard
                    </span>
                </a>
            </li>
            <li class="nav-item pb-3">
                <a class="nav-link fs-4 d-inline" href="/help">
                    How to Play
                    <span class="material-symbols-outlined md-2 float-end">
                        help
                    </span>
                </a>
            </li>
        </ul>
    </div>
</div>
</html>