<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div aria-labelledby="offcanvasNavbar" class="offcanvas offcanvas-start" id="offcanvasNavbar" tabindex="-1"
     th:fragment="offcanvas">
    <div class="offcanvas-header">
        <button aria-label="Close" class="button-close" data-bs-dismiss="offcanvas">
            <i class="fas fa-bars"></i>
        </button>
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Polyominoes</h5>
    </div>
    <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-center flex-grow-1">
            <li class="nav-item pb-3">
                <a class="nav-link fs-4" href="/">
                    Play
                    <i class="fas fa-play"></i>
                </a>
            </li>
            <li class="nav-item pb-3">
                <a class="nav-link fs-4" href="/leaderboard">
                    Leaderboard
                    <i class="fas fa-list-ul"></i>
                </a>
            </li>
            <li class="nav-item pb-3">
                <a class="nav-link fs-4" href="/help">
                    How to Play
                    <i class="fas fa-info-circle"></i>
                </a>
            </li>
        </ul>
    </div>
</div>
</html>