body {
    color: #fff;
    background: #1F1F1F;
    height: 100vh;
}

.wrapper {
    padding: 5rem 2rem;
    background: #333333;
    height: 100%;
}



@media (min-width: 576px) {
    .wrapper {
        width: 70%;
    }
}