<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header(~{::title},~{::link},~{})}">
    <title>Polyominoes - Register</title>

    <!-- Login CSS -->
    <link rel="stylesheet" th:href="@{/css/login-form.css}"/>
</head>
<body class="bg-dark">
<div th:replace="~{fragments/forms/login/login-form-template :: login-form-template(~{::form},~{::span})}">
    <form th:replace="~{fragments/forms/login/register-form :: register-form}"></form>
    <span>Already a user? <a href="/login">Log in.</a></span>
</div>
</body>
</html>