<form action="#" class="row g-3" method="post" th:action="@{/}" th:fragment="score-form" th:object="${scoreForm}">
    <div class="col-12 text-danger" th:errors="*{global}" th:if="${#fields.hasGlobalErrors()}">Global Error</div>
    <div class="col-auto">
        <input aria-describedby="score" class="form-control" id="score" name="score"
               placeholder="Score" required
               th:field="*{score}" type="number">
        <label for="score">Score</label>
        <th:block th:each="err : ${#fields.errors('score')}">
            <li><i class="fas fa-exclamation-circle"></i> <span th:text="${err}"></span></li>
        </th:block>
    </div>
    <div class="col-auto">
        <input aria-describedby="polyominoes" class="form-control" id="polyominoes" name="polyominoes"
               placeholder="Polyominoes" required
               th:field="*{polyominoes}" type="number">
        <label for="polyominoes">Polyominoes</label>
        <th:block th:each="err : ${#fields.errors('polyominoes')}">
            <li><i class="fas fa-exclamation-circle"></i> <span th:text="${err}"></span></li>
        </th:block>
    </div>
    <div class="col-auto">
        <input aria-describedby="milliseconds" class="form-control" id="milliseconds" name="milliseconds"
               placeholder="milliseconds" required
               th:field="*{milliseconds}" type="number">
        <label for="milliseconds">Milliseconds</label>
        <th:block th:each="err : ${#fields.errors('milliseconds')}">
            <li><i class="fas fa-exclamation-circle"></i> <span th:text="${err}"></span></li>
        </th:block>
    </div>
    <div class="col-auto">
        <button class="btn btn-primary w-100" type="submit">Save</button>
    </div>
</form>